/* Default styles .menu {
  display: flex;
  flex-direction: row; 
  transition: all 0.3s ease;
}

.menu.open {
  display: flex;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .menu.open {
    display: flex;
    flex-direction: column; 
  }

  header button {
    display: block; 
  }
}

header button {
  display: none;
} */

.logoLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.logoCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
