:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin-top: 5rem;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

li {
  list-style: none;
  display: inline-block;
  margin: 10px;
}

header {
  & > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    align-items: center;
    z-index: 100;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 30px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.addBtn {
  background-color: #646cff;
  color: #ffffff;
}

.addedBtn {
  background-color: #535bf2;
  color: #ffffff;
}

.addBtn:hover {
  background-color: #535bf2;
}

.addedBtn:hover {
  background-color: #646cff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #ffffff;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Default styles */

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  transition: all 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
}

.menu.open {
  display: flex;
  flex-direction: row;
  transition: all 0.3s ease;
  margin: auto;
}

/* Hide burger menu button on larger screens */
header button {
  display: none;
}

/* Styles when menu is not open */
@media (max-width: 838px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu {
    display: none;
  }

  .menu.open {
    position: fixed;
    width: 100%;
    padding-bottom: 10px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
  }

  .menu.open nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
    padding: 0;
  }

  header button {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: block; /* Show burger menu button */
    background-color: unset;
    border: unset;
    margin: 6px;
    & :hover {
      background-color: unset;
    }
  }
}
